/* ================= TOP BAR ================== */
.top-bar {
    background: #061224;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial;
}

.go-home {
    color: #9cd6ff;
    text-decoration: none;
    font-size: 15px;
}

.page-title {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.top-bar__actions button {
    margin-left: 10px;
}

/* MINIMAP BUTTONS */
.minimap-btn {
    background: #0aa1ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* ================= PANORAMA ================== */
#panorama {
    width: 100%;
    height: 85vh;
    background: #000;
}

/* ================= MINIMAP ================== */
.minimap-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.minimap-modal.active {
    display: flex;
}

.minimap-img {
    width: 400px;
    border: 3px solid white;
    border-radius: 10px;
}

/* ================= SCENE BUTTONS ================== */
.scenes {
    background: #061224;
    padding: 10px;
    display: flex;
    gap: 5px;
    color: white;
}

.scenes button {
    padding: 5px 10px;
    background: #1a3050;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.scenes button:hover {
    background: #27466b;
}
